# Pokemon

### Introduction:

This time you will create the data.



### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Create a data dictionary that looks like the DataFrame below

In [2]:
dict={'evolution':['Ivysaur','Charmeleon','Wartortle','Metapod'],'hp':[45,39,44,45],'name':['Bulbasaur','Charmander','Squirtle','Caterpie'],
      'pokedox':['yes','no','yes','no'],'type':['grass','fire','water','bug']}
dict

{'evolution': ['Ivysaur', 'Charmeleon', 'Wartortle', 'Metapod'],
 'hp': [45, 39, 44, 45],
 'name': ['Bulbasaur', 'Charmander', 'Squirtle', 'Caterpie'],
 'pokedox': ['yes', 'no', 'yes', 'no'],
 'type': ['grass', 'fire', 'water', 'bug']}

### Step 3. Assign it to a variable called pokemon

In [6]:
pokemon=pd.DataFrame(dict)
pokemon

    evolution  hp        name pokedox   type
0     Ivysaur  45   Bulbasaur     yes  grass
1  Charmeleon  39  Charmander      no   fire
2   Wartortle  44    Squirtle     yes  water
3     Metapod  45    Caterpie      no    bug

### Step 4. Ops...it seems the DataFrame columns are in alphabetical order. Place  the order of the columns as name, type, hp, evolution, pokedex

In [8]:
pokemon[['name','type','hp','evolution','pokedox']]

         name   type  hp   evolution pokedox
0   Bulbasaur  grass  45     Ivysaur     yes
1  Charmander   fire  39  Charmeleon      no
2    Squirtle  water  44   Wartortle     yes
3    Caterpie    bug  45     Metapod      no

### Step 5. Add another column called place, and insert what you have in mind.

In [12]:
pokemon['place']=['bengaluru','mangaluru','mysuru','kerala']
pokemon

    evolution  hp        name pokedox   type      place
0     Ivysaur  45   Bulbasaur     yes  grass  bengaluru
1  Charmeleon  39  Charmander      no   fire  mangaluru
2   Wartortle  44    Squirtle     yes  water     mysuru
3     Metapod  45    Caterpie      no    bug     kerala

### Step 6. Present the type of each column

In [13]:
pokemon.dtypes

evolution    object
hp            int64
name         object
pokedox      object
type         object
place        object
dtype: object

### BONUS: Create your own question and answer it.

In [16]:
pokemon.columns #pandas

Index(['evolution', 'hp', 'name', 'pokedox', 'type', 'place'], dtype='object')

In [18]:
arr=np.array(pokemon.columns) #numpy
arr

array(['evolution', 'hp', 'name', 'pokedox', 'type', 'place'],
      dtype=object)

In [19]:
list(arr) #basic python

['evolution', 'hp', 'name', 'pokedox', 'type', 'place']

In [20]:
pokemon.columns.to_list()

['evolution', 'hp', 'name', 'pokedox', 'type', 'place']